.crt {
  width: 610px;
  height: 440px;
  border-radius: 32px;
  overflow: hidden;
  background: #000000;
  color: #00ff99;
  font-family: 'Courier New', monospace;
  position: relative;
  padding: 1rem;
  overflow: hidden;
  text-shadow: 0 0 2px #00ff99, 0 0 5px #00ff99;
  /* box-shadow: inset 0 0 80px #00ff99aa; */
  filter: contrast(1.3) brightness(1.05) saturate(1.1);
  cursor: default;
  user-select: none;
}

